body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 12px;
  background: #f9f9f9;
  color:#666;
  max-width: 1024px;
  margin:auto;
  word-break: break-all;
}

img {
  border:0;
  vertical-align: middle;
}

ul,li,ol {
  list-style: none;
  margin:0;
  padding: 0;
}

a {
  text-decoration: none;
}

.sidebar-mask {
  position: fixed;
  transform: translateZ(0);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  background: rgba(0,0,0,.7);
}

.list-wrap {
  margin-top: 1.333rem;
}

.newsContent {
  font-size:0.37rem;
}
.newsContent a {
  color: inherit;
}
.newsContent .headline,
.newsContent .content-inner .question{
  background: #fff;
  padding: 0.4rem;
}
.newsContent .content-inner .question{
  margin-top: .2rem;
}
.newsContent .content-inner .avatar {
  width: .533rem;
  height: .533rem;
  border-radius: .053rem;
  margin-right: .133rem;
}
.newsContent .content-inner .author {
  font-weight: bold;
}
.newsContent .content-inner .author,
.newsContent .content-inner .bio {
  vertical-align: middle;
}
.newsContent .view-more a {
  background: #e8e8e8;
  padding: 0.2rem 0.3rem;
  display: block;
  text-align: center;
}
.newsContent .content a {
  color: #4786b3;
}
.newsContent img {
  max-width: 100%;
}
.newsContent .bio {
  color: #999;
}

.newsContent blockquote {
  color: #9da3a6;
  border-left: .08rem solid #dfe3e6;
  font-style: normal;
  display: block;
  font-size: 100%;
  margin: .5em 0;
  padding: 0 0 0 1em;
}
.section-box {
  background: #fff;
}
.section-box a {
  display: flex;
  align-items: center;
  margin:.4rem;
  color: inherit;
  background: #eee;
}
.section-box a img {
  width: 1.333rem;
  height: 1.333rem;
}
.section-box a .sectionName {
  flex: 1;
  margin:0 .2rem;
}
.section-box a .arrow{
  display: block;
  width: .267rem;
  height: .267rem;
  border: solid #867e7a;
  border-width: .027rem .027rem 0 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-right: .4rem;
}